<!-- <div class="centered-image">
  <img src="../assets/PCI_Logo-all-theme.png" style="height: 250px;" alt="pic" />
</div>


 -->
 <!-- <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <img src="assets/letter-p.gif" style="width: 90px; height: 90px;">
  <img src="assets/letter-c.gif" style="width: 90px; height: 90px;">
  <img src="assets/letter-i.gif" style="width: 90px; height: 90px;">
</div> -->

<div class="centered-container">
  <img src="assets/letter-p.gif">
  <img src="assets/letter-c.gif">
  <img src="assets/letter-i.gif">
</div>
      <!-- <div class="splash">
        <div class="txt">Pharmacy Council of India</div>
      </div>
       -->