<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  
    <ion-title class="tittle">
      PHARMACY COUNCIL OF INDIA
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/log-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Page</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="background-image">
  <h2>Welcome, {{ username }}</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        
  <ion-button expand="" (click)="goToDigitalSignaturePage()" color="success">
          <ion-icon name="finger-print"></ion-icon>
          Signature
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="" color="success">
          <ion-icon name="person-circle"></ion-icon>
          View Feedback ID
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
