.background-image {
    
    background-size: 200px; /* Adjust the size as needed */
    height: 150%; /* Set the height to take up the entire viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1; /* Add the grey background color here */
  }
  ion-title.tittle {
    background-color: #1A1E3D;
    color: white;
    padding: 1em 0;
    text-align: center;
    font-weight: bold;
  }
  ion-toolbar {
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }
  .welcome-heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: #333; /* Customize the color as needed */
  }
  
  .menu-toolbar ion-title.menu-title {
    background-color: #1a1e3d;
    color: aliceblue;
  }