<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-avatar slot="start">
      <img src="../../assets/Pharmacy_Council_of_India_Logo 4.jpg" alt="pci" />
    </ion-avatar>
    <ion-title>
      PHARMACY COUNCIL OF INDIA
    </ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/nic-logo-nic-logo-1-bilingual-white-1-01.jpg" alt="NIC Logo" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" (click)="goToDigitalSignaturePage()">
          <ion-icon name="finger-print"></ion-icon>
          Signature
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full">
          <ion-icon name="person-circle"></ion-icon>
          View Feedback ID
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
