<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-avatar slot="start">
      <img src="../../assets/Pharmacy_Council_of_India_Logo 4.jpg" alt="pci" />
    </ion-avatar>
    <ion-title>
      PHARMACY COUNCIL OF INDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Digital Signature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="username-col">
        <div *ngIf="username" class="username-label">
          Welcome, {{ username }}!
        </div>
        <ion-button expand="half" (click)="onOpenCanvas()"><ion-icon name="finger-print-outline"></ion-icon>Sign here</ion-button>
      </ion-col>
    </ion-row>
    <div class="button-container">
      <ion-row>
        <ion-col size="6" class="centered">
          <ion-button expand="full" [disabled]="!showCanvas" (click)="onSaveSignature()"><ion-icon name="save"></ion-icon>Save</ion-button>
        </ion-col>
        <ion-col size="6" class="centered">
          <ion-button expand="full" [disabled]="!showCanvas" (click)="onResetCanvas()"><ion-icon name="refresh-circle"></ion-icon>Reset</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <!-- Signature Canvas -->
  <div *ngIf="showCanvas" class="signature-container">
    <canvas #signatureCanvas width="800" height="400"
    (mousedown)="startDrawing($event)"
    (mousemove)="draw($event)"
    (mouseup)="endDrawing()"
    (touchstart)="startDrawing($event)"
    (touchmove)="draw($event)"
    (touchend)="endDrawing()">
  </canvas>

  </div>

  <!-- Display Signature -->
  <div *ngIf="signatureDataURL" class="signature-image">
    <img [src]="signatureDataURL" alt="Digital Signature" />
  </div>
  <div class="submit-button-container">
    <ion-button class="submit" expand="full" (click)="onSubmitSignature()">Submit<ion-icon name="checkmark-done-circle"></ion-icon></ion-button>
  </div>
</ion-content>
