<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigate(0)" default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Digital Signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="username-col">
        <!-- <ion-button expand="half" (click)="onOpenCanvas()" color="success"><ion-icon name="finger-print-outline" ></ion-icon>Sign here</ion-button> -->
      </ion-col>
    </ion-row>
    <div class="button-container">
      <ion-row>
        <ion-col size="6" class="centered">
          <ion-button expand="half" [disabled]="submitButtonDisabled || !showCanvas" (click)="onSaveSignature()" color="dark"><ion-icon name="cloud-upload"></ion-icon>UPLOAD</ion-button>
        </ion-col>
        <ion-col size="6" class="centered">
          <ion-button expand="half" [disabled]="!showCanvas" (click)="onResetCanvas()" color="dark"><ion-icon name="refresh-circle"></ion-icon>RESET</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <!-- Display the signature image or a message to sign -->
  <!-- <ion-row>
    <ion-col size="12" class="centered">
      <ng-container *ngIf="signatureimage">
        <img [src]="signatureimage" alt="Signature">
      </ng-container>
      <ng-container *ngIf="!signatureimage">
        <p>Please sign here.</p>
      </ng-container>
    </ion-col>
  </ion-row> -->

  <!-- Signature Canvas -->
  <div class="canvas-container">
    <canvas #signatureCanvas
            class="signature-canvas"
            width="300" height="270"
            (mousedown)="startDrawing($event)"
            (mousemove)="draw($event)"
            (mouseup)="endDrawing()"
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd()">
    </canvas>
  </div>
 
</ion-content>
<ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
<ion-button color="dark" expand="block" [disabled]="submitButtonDisabled || !showCanvas || loading" (click)="onSubmit()">Submit</ion-button>
