.signature-container {
    width: 400px;
    height: 200px;
    border: 1px solid #000000;
    margin: 10px auto;
  }
  
  .signature-image img {
    width: 400px;
    height: 200px;
    border: 0px solid #0a0a0a;
    margin: 10px auto;
  }
  .button-container {
    /* Center the content horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Adjust the value as needed */
  }
  .button-container ion-col {
    display: flex;
    justify-content: center;
  }
  .submit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px; /* Adjust the value as needed to position the button */
    left: 0;
    right: 0;
    width: 100%;
  }
  .username-col {
    /* Center the content horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .username-label {
    margin-bottom: 10px; /* Adjust the value as needed */
  }
  ion-title.tittle {
    background-color: #1A1E3D;
    color: white;
    padding: 1em 0;
    text-align: center;
    font-weight: bold;
  }
  
  ion-toolbar {
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }
  .welcome-heading {
    font-size: 20px;
    font-weight: bold;
    // text-align: center;
    margin-top: 10px;
    color: #333; /* Customize the color as needed */
  }
  /* Add styles for the canvas container */
/* Add styles for the canvas container */
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; /* Add a border to the canvas container */
  width: 80%; /* Set width to 100% to fill available space */
  max-width: 380px; /* Set maximum width to 380px */
  height: 250px;
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Include border in width and height calculations */
}


/* Add styles for the signature canvas */
.signature-canvas {
  border: 0px solid black; /* Add a border to the canvas */
  width: 100%;
  height: 100%;
}
.menu-toolbar ion-title.menu-title {
  background-color: #1a1e3d;
  color: aliceblue;
}