<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  
    <ion-title class="tittle" >
      PHARMACY COUNCIL OF INDIA
    </ion-title>
  
  </ion-toolbar>
<!-- its all good -->
</ion-header>
<ion-content scroll-y="false">
  <div class="img-container">
    <img src="../../assets/icon.png" alt="pci" />
  </div>

  <ion-card class="login">
    <div class="login-header">
      <!-- Your login header content goes here -->
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin form-login" name="form">
      <ion-item class="form-group">
        <ion-label id="usernameL" position="stacked"><b>Username</b></ion-label>
        <ion-input
          type="text"
          id="username"
          name="username"
          formControlName="userName"
          placeholder="Enter your username"
          [(ngModel)]="username" 
        ></ion-input>
       
      </ion-item>
      <ion-item class="form-group">
        <ion-label id="passwordL" position="stacked"><b>Password</b></ion-label>
        <ion-input
          type="{{ showPassword ? 'text' : 'password' }}"
          id="password"
          name="password"
          placeholder="Enter your password"
          formControlName="password"
        ></ion-input>
        <ion-icon
          class="togglepassword"
          slot="end"
          name="{{ showPassword ? 'eye-off' : 'eye' }}"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </ion-item>

      <ion-button expand="block" (click)="onSubmit()" class="small-button1" color="success">
        {{btnLogin}}

      </ion-button>
    </form>
  </ion-card>
</ion-content>