ion-content {
  --background: #ffffff;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.small-button {
  font-size: 13px;
  /* Adjust the font size as needed */
  padding: 6px 12px;
  /* Adjust the padding as needed */
  margin: 0 auto;
  /* Center the button horizontally */
}

/* log-in.component.css */
.img-container {
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
}

.small-button1 {
  font-size: 18px;
  /* Adjust the font size as needed */
  padding: 4px 6px;
  /* Adjust the padding as needed */
  min-width: 50px;
  max-width: 100px;
  /* Adjust the minimum width as needed */
}

.img-container img {
  margin-top: 50px;
  max-width: 50%;
  align-self: flex-start;
  /* Reset vertical alignment to the top */
}

.login-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-group {
  margin-bottom: 15px;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.password-container {
  display: flex;
  align-items: center;
  border: 1px solid #f6f6f6;
  border-radius: 88px;
  padding: 5px;
}

.password-container ion-input {
  flex: 1;
  margin-bottom: 0;
}

.btn {
  --background: #0C99FF;
  --border-radius: 40px;
  --border: 3px solid #000;
}