<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- <ion-avatar slot="start">
      <img src="../../assets/Pharmacy_Council_of_India_Logo 4.jpg" alt="pci" />
    </ion-avatar> -->
    <ion-title class="tittle">
   PHARMACY COUNCIL OF INDIA
    </ion-title>
   
  </ion-toolbar>
  
</ion-header>
<ion-content>

  <div class="img-container">
    <img src="../../assets/Pharmacy_Council_of_India_Logo 4.jpg" alt="pci" />
  </div>

  <ion-card class="login">
    <div class="login-header">
      <!-- Your login header content goes here -->
    </div>
    <ion-list class="login-form">
      <ion-item class="form-group">
        <ion-label id="usernameL" position="stacked">Username</ion-label>
        <ion-input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          [(ngModel)]="username"
          required
        ></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label id="passwordL" position="stacked">Password</ion-label>
        <div>
          <ion-input
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            name="password"
            placeholder="Enter your password"
            [(ngModel)]="password"
            required
            minlength="8"
          ></ion-input>
        </div>
      </ion-item>

      <!-- Show a message for incorrect credentials (assuming you have an 'invalidCredentials' boolean variable) -->
      <p *ngIf="invalidCredentials" class="error-message">Invalid credentials. Please try again.</p>

      <!-- Toggle password visibility button -->
      <ion-button fill="clear" (click)="togglePasswordVisibility()" class="small-button">
          {{ showPassword ? 'Hide Password' : 'Show Password' }}
        </ion-button>

      <!-- Log in button -->
      <ion-button expand="block" (click)="onLogin()" class="small-button1">
          Log In
        </ion-button>

      <!-- Forgot password link (optional) -->
      <p class="forgot-password-link" (click)="onForgotPasswordClick()">Forgot Password?</p>
    </ion-list>
  </ion-card>
</ion-content>

