<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-avatar slot="start">
      <img src="../../assets/Pharmacy_Council_of_India_Logo 4.jpg" alt="pci" />
    </ion-avatar>
    <ion-title>
      PHARMACY COUNCIL OF INDIA
    </ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/nic-logo-nic-logo-1-bilingual-white-1-01.jpg" alt="NIC Logo" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <div class="background"></div>
    <div class="img-container">
      <img src="../../assets/Pharmacy_Council_of_India_Logo 4.jpg" alt="pci" />
    </div>
    <div class="login-header"></div>
    <ion-list class="login-form">
      <ion-item class="form-group">
        <ion-label id="usernameL" position="stacked">Username</ion-label>
        <ion-input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          [(ngModel)]="username"
          required
        ></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label id="passwordL" position="stacked">Password</ion-label>
        <div >
          <ion-input
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            name="password"
            placeholder="Enter your password"
            [(ngModel)]="password"
            required
            minlength="8"
          ></ion-input>
          <ion-icon class="passwordbtn" name="eye-outline" (click)="togglePasswordVisibility()"></ion-icon>
        </div>
        <div *ngIf="password.length < 8" class="error-message">Password must be at least 8 characters long.</div>
      </ion-item>
    </ion-list>

    <ion-button class="btn btn-primary" expand="full" (click)="onLogin()" [disabled]="!isFormValid()">Log in</ion-button>
    <!-- ... (remaining code) ... -->
  </div>
</ion-content>
