<ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-title class="title">
      PHARMACY COUNCIL OF INDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="center-container">
    <img src="assets/qr-code-modern-icon-or-symbol-vector-18038131-removebg-preview.png" class="background-image">
    <ion-button class="startScan" (click)="startScan()" color="dark">
      Start scan
    </ion-button>


    <ion-label class="scaner"><strong>Scan the QR code on the PCI Website to sign in Directly</strong></ion-label>

    <video #video [hidden]="true" width="100%"></video>
    <canvas #canvas hidden></canvas>

    <ion-button (click)="reset()" color="warning" *ngIf="scanResult">
      <ion-icon slot="start" name="refresh"></ion-icon>
      Reset
    </ion-button>
  
  </div>
</ion-content>
